
            input {
                file {
                    path => /Users/yardman/development/york_university/yorkuniv/data/events/*.csv
                    start_position => "beginning"
                    sincedb_path => "/dev/null"
                    }

                }

            filter{
                    csv {
                            separator => ","
                            columns => ['cameoeventcode', 'eventdescription']

                        }
                    mutate {convert => ["cameoeventcode", "integer"]}
mutate {convert => ["eventdescription", "string"]}
                    

            }

                output {

                        elasticsearch {
                        hosts => "localhost:9200"
                        index => "gdelt"
                        document_type => "cameoeventcodes"
                        }

                    stdout{}

                    }
        
