
            input {
                file {
                    path => /Users/yardman/development/york_university/yorkuniv/data/mentions/*.csv
                    start_position => "beginning"
                    sincedb_path => "/dev/null"
                    }

                }

            filter{
                    csv {
                            separator => ","
                            columns => ['\ufeffglobaleventid', 'eventtimedate', 'mentiontimedate', 'mentiontype', 'mentionsourcename', 'mentionidentifier', 'sentenceid', 'actor1charoffset', 'actor2charoffset', 'actioncharoffset', 'inrawtext', 'confidence', 'mentiondoclen', 'mentiondoctone', 'mentiondoctranslationinfo', 'extras']

                        }
                    mutate {convert => ["﻿globaleventid", "integer"]}
mutate {convert => ["eventtimedate", "integer"]}
mutate {convert => ["mentiontimedate", "integer"]}
mutate {convert => ["mentiontype", "integer"]}
mutate {convert => ["mentionsourcename", "string"]}
mutate {convert => ["mentionidentifier", "string"]}
mutate {convert => ["sentenceid", "integer"]}
mutate {convert => ["actor1charoffset", "integer"]}
mutate {convert => ["actor2charoffset", "integer"]}
mutate {convert => ["actioncharoffset", "integer"]}
mutate {convert => ["inrawtext", "integer"]}
mutate {convert => ["confidence", "integer"]}
mutate {convert => ["mentiondoclen", "integer"]}
mutate {convert => ["mentiondoctone", "float"]}
mutate {convert => ["mentiondoctranslationinfo", "string"]}
mutate {convert => ["extras", "string"]}
                    

            }

                output {

                        elasticsearch {
                        hosts => "localhost:9200"
                        index => "gdelt"
                        document_type => "mentions"
                        }

                    stdout{}

                    }
        
